.swiper {
    width: 80%;
    height: 100%;
} 
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 550px;
    object-fit: cover;
}

/* Tailwind responsive classes for different screen sizes */
@media (max-width: 639px) {
    .swiper-slide img {
        height: 300px;  /* Smaller height for mobile */
    }
}

@media (min-width: 640px) and (max-width: 767px) {
    .swiper-slide img {
        height: 350px;  /* Medium height for tablets */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .swiper-slide img {
        height: 450px;  /* Adjust height for medium screens */
    }
}

@media (min-width: 1024px) {
    .swiper-slide img {
        height: 450px;  /* Default height for large screens */
    }
}